<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>total results: {{pageInfo.totalResults}}</title>
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/skeleton.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <header class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>youtube api results:</h1>
      </div>
    </div>
  </header>
  <section class="container">
      {{#each items}}
        <div class="row">
          <div class="two columns">
            <img src="{{snippet.thumbnails.default.url}}">
          </div><div class="eight columns">
            <strong>{{snippet.title}}</strong>
          </div>
        </div>
      {{/each}}
    </ul>
  </section>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>